/*!
 * Вільна Країна
 * Copyright 2016
 * m-box.org.ua
 *
 * vsegda@ua.fm
 *
 *color: #EB4E1B;
 *color: #f15a2b;
 *color: #337AB7;
 *border: solid 5px #EFEFEF;
 *background-color: #E5E5E5
.h11 {
  text-shadow: 3px 3px 5px black, 0 0 20px orange, 0 0 5px white; 
  }
.h33 {
  text-shadow: 1px 1px 2px black, 0 0 15px black, 0 0 5px blue; 
  } 
figure {
  display: block;
  position: relative;
  height:100%;
  width:100%;
  overflow: hidden;  
}
figcaption {
  position: absolute;
  background: grey;
  color: white;
  padding: 0px 10px;
  left: 20%; right: 20%; top: 5%; 
  opacity: 0;
  -webkit-transition: opacity 0.7s ease-in-out;
  -moz-transition: opacity  0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
}
figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-size: 0;
}
*/
body {
  position: relative;
}
@media screen and (max-width: 992px) {
  #contacts {
    visibility: hidden;
  }
}
#rockit {
  position:relative;
  height:318px;
  margin:0 auto;  
}
#rockit img {  
  height:318px;
  width:100%;
  border:2px solid #fff;
  position: relative;
  object-fit: cover;  
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#rockit img:hover {
  transform: scale(1.25, 1.25);
}
#rockit2 img {
    float: left;
    z-index: -10;
}
.text-primary {
	padding-top: 10px; 
	font-family: 'Marmelad', sans-serif; 
	font-size: 150% !important;
	color: navy;
}
.text-header {
  padding-top: 10px; 
  font-family: 'Marmelad', sans-serif; 
  font-size: 150% !important;
  color: #f15a2b;
}
.text-footer {
  padding: 2em 0; 
  font-family: 'Marmelad', sans-serif; 
  font-size: 150%; 
  color: white; 
  vertical-align: middle;
}
.icon-bar {background: #337AB7;}  
.aboutann {
  position: absolute; 
  top: 250px; 
  left: 0; 
  width: 100%;  
}
.aboutann li {
  margin: 15px;
}
.ts {
  text-shadow: 1px 1px 2px #337AB7, 0 0 10px white;
}
#horeca {
  padding-top: 10%;   
  object-fit: cover;
  height: 250px;
}
.triangle {
    height: 0;
    width: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid  #f15a2b;
	}
.placeholder figure {
  display: block;
  position: relative;
  height:300px;
  width:100%;
  padding: 0px; 
  overflow: hidden;
}
.placeholder a {
  text-decoration: none; 
  color: #fff;
}
.placeholder figcaption {
  position: absolute;
  background-color: black;
  color: white;
  padding: 0px;
  left: 0px; right: 0px; top: 0px; 
  height:100%;
  width:100%;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity  0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.opacity:hover figcaption {
  opacity: 0.8;
}
h2.h22 {
  position: absolute; 
  text-align: center;
  top: 20px; 
  left: 15px; 
  right: 15px;
  width: 90%; 
  text-shadow: 3px 3px 5px black, 0 0 20px white, 0 0 50px white;
  }
p.h55 {
  position: absolute; 
  text-align: center;
  bottom: 50px; 
  left: 15px; 
  right: 15px;
  text-shadow: 1px 1px 2px black, 0 0 15px black, 0 0 5px white;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}
.aloneinthedark img {
    opacity: 0;
    z-index: -2;
}

.aloneinthedark:hover img {
    -webkit-transition: opacity 0.7s ease-in-out;
    -moz-transition: opacity 0.7s ease-in-out;
    -o-transition: opacity 0.7s ease-in-out;
    transition: opacity 0.7s ease-in-out;
    opacity: 0.2;
}

.img-responsive {
object-fit: cover;"
}

/*borrowed360carousel*/ 
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  background-color: rgba(0,0,0,0.5);
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect img {
  display: block;
  position: relative;  
  height: 200px; 
  width: 100%;
  object-fit: cover;
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  background: rgba(0,0,0,0.6);
  -webkit-transform: translatey(-100px);
  -ms-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  padding: 10px;
}

.hovereffect a.info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin: 50px 0 0;
  padding: 7px 14px;
}
  
.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0);
}

.hovereffect:hover a.info {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}
/*borrowed360carousel*/